In [1]:
#read in dataframe
import pandas as pd

combine_df = pd.read_csv("draft_combine_stats.csv")

In [2]:
#remove player_id , height_w_shoes , height_w_shoes_ft_in , height_wo_shoes_ft_in
combine_df.drop(columns = ['height_wo_shoes_ft_in' , 'height_w_shoes' , 'height_w_shoes_ft_in' , 'wingspan_ft_in' , 'standing_reach_ft_in',
                          'spot_nba_break_right' , 'spot_nba_corner_right' , 'off_drib_fifteen_top_key' , 'off_drib_fifteen_break_right' , 'off_drib_college_break_left',
                          'off_drib_college_top_key' , 'off_drib_college_break_right' , 'on_move_fifteen', 'on_move_college' , 'spot_fifteen_corner_right',
                          'spot_college_corner_left' , 'spot_college_break_left', 'spot_college_top_key' , 'spot_college_break_right' , 'spot_college_corner_right', 
                          'spot_nba_corner_left' , 'spot_nba_break_left' , 'spot_nba_top_key' , 'off_drib_fifteen_break_left' , 'spot_fifteen_corner_left' , 'spot_fifteen_break_left' ,
                          'spot_fifteen_top_key', 'spot_fifteen_break_right'], inplace= True)
combine_df.rename(columns={'season': 'year'}, inplace=True)
combine_df.head()

,year,player_id,first_name,last_name,player_name,position,height_wo_shoes,weight,wingspan,standing_reach,body_fat_pct,hand_length,hand_width,standing_vertical_leap,max_vertical_leap,lane_agility_time,modified_lane_agility_time,three_quarter_sprint,bench_press
0,2001,12033,Adam,Allenspach,Adam Allenspach,C,83.50,259.0,84.5,107.0,12.4,NaN,NaN,28.5,31.0,11.90,NaN,3.40,16.0
1,2001,2240,Gilbert,Arenas,Gilbert Arenas,SG,74.25,199.0,81.5,99.5,5.3,NaN,NaN,31.5,36.0,NaN,NaN,3.25,12.0
2,2001,2220,Brandon,Armstrong,Brandon Armstrong,SG,75.50,188.0,81.5,99.5,9.3,NaN,NaN,30.0,37.0,10.91,NaN,3.20,6.0
3,2001,2203,Shane,Battier,Shane Battier,SF-PF,80.25,229.0,82.5,105.0,9.3,NaN,NaN,29.5,33.0,10.95,NaN,3.30,12.0
4,2001,12034,Cookie,Belcher,Cookie Belcher,SG-PG,75.00,206.0,80.5,99.0,5.3,NaN,NaN,35.0,41.5,11.26,NaN,2.91,7.0

In [3]:
#combine_df = combine_df[(combine_df['season'] >= 2009) & (combine_df['season'] <= 2021)]
print(combine_df['year'].value_counts(dropna=False))

year
2022    83
2023    81
2004    81
2005    81
2001    78
2019    77
2007    77
2008    76
2018    69
2017    64
2013    63
2012    61
2015    58
2014    56
2011    54
2010    52
2009    46
2020    45
Name: count, dtype: int64

In [4]:
#loading data , making dataframe, and label encoding a feature I got to label encode
import pandas as pd
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

ncaa_df = pd.read_csv("NCAA_Stats_Preprocessed.csv")
#pg_df = ncaa_df[
    #(ncaa_df['Role/Position'] == 'Scoring PG') | (ncaa_df['Role/Position'] == 'Pure PG')
#]
pg_df = ncaa_df

#print(len(pg_df))
pg_df['Role/Position'] = le.fit_transform(pg_df['Role/Position'])

pg_df.head()
print(pg_df.columns)

Index(['player_name', 'team', 'conf', 'GP', 'Min_per', 'Ortg', 'usg', 'eFG',
       'TS_per', 'ORB_per', 'DRB_per', 'AST_per', 'TO_per', 'FTM', 'FTA',
       'FT_per', 'twoPM', 'twoPA', 'twoP_per', 'TPM', 'TPA', 'TP_per',
       'blk_per', 'stl_per', 'ftr', 'yr', 'ht', 'num', 'porpag', 'adjoe',
       'pfr', 'year', 'pid', 'type', 'Rec Rank', 'ast/tov', 'rimmade',
       'rimmade+rimmiss', 'midmade', 'midmade+midmiss',
       'rimmade/(rimmade+rimmiss)', 'midmade/(midmade+midmiss)', 'dunksmade',
       'dunksmiss+dunksmade', 'dunksmade/(dunksmade+dunksmiss)', 'pick',
       'drtg', 'adrtg', 'dporpag', 'stops', 'bpm', 'obpm', 'dbpm', 'gbpm',
       'mp', 'ogbpm', 'dgbpm', 'oreb', 'dreb', 'treb', 'ast', 'stl', 'blk',
       'pts', 'Role/Position', 'Unnamed: 65', 'team_encoded', 'conf_encoded',
       'yr_encoded', 'ht_encoded', 'got_drafted', 'Role/Position_encoded',
       'Drafted_that_year'],
      dtype='object')

C:\Users\holde\AppData\Local\Temp\ipykernel_21312\37651004.py:6: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  ncaa_df = pd.read_csv("NCAA_Stats_Preprocessed.csv")

In [5]:
#merge the two dataframes
merged_df =pd.merge(pg_df, combine_df, on = ['year', 'player_name'] , how='inner')
merged_df = merged_df.dropna(subset=['pick'])
print(merged_df.columns)
print(merged_df['player_name'])
print(len(merged_df))

Index(['player_name', 'team', 'conf', 'GP', 'Min_per', 'Ortg', 'usg', 'eFG',
       'TS_per', 'ORB_per', 'DRB_per', 'AST_per', 'TO_per', 'FTM', 'FTA',
       'FT_per', 'twoPM', 'twoPA', 'twoP_per', 'TPM', 'TPA', 'TP_per',
       'blk_per', 'stl_per', 'ftr', 'yr', 'ht', 'num', 'porpag', 'adjoe',
       'pfr', 'year', 'pid', 'type', 'Rec Rank', 'ast/tov', 'rimmade',
       'rimmade+rimmiss', 'midmade', 'midmade+midmiss',
       'rimmade/(rimmade+rimmiss)', 'midmade/(midmade+midmiss)', 'dunksmade',
       'dunksmiss+dunksmade', 'dunksmade/(dunksmade+dunksmiss)', 'pick',
       'drtg', 'adrtg', 'dporpag', 'stops', 'bpm', 'obpm', 'dbpm', 'gbpm',
       'mp', 'ogbpm', 'dgbpm', 'oreb', 'dreb', 'treb', 'ast', 'stl', 'blk',
       'pts', 'Role/Position', 'Unnamed: 65', 'team_encoded', 'conf_encoded',
       'yr_encoded', 'ht_encoded', 'got_drafted', 'Role/Position_encoded',
       'Drafted_that_year', 'player_id', 'first_name', 'last_name', 'position',
       'height_wo_shoes', 'weight', 'wingspan', 'standing_reach',
       'body_fat_pct', 'hand_length', 'hand_width', 'standing_vertical_leap',
       'max_vertical_leap', 'lane_agility_time', 'modified_lane_agility_time',
       'three_quarter_sprint', 'bench_press'],
      dtype='object')
1           Jordan Hill
2        Chase Budinger
3           Eric Maynor
5            Earl Clark
6      Dante Cunningham
             ...
574        Tyrell Terry
575     Cassius Stanley
576     Jahmi'us Ramsey
577          Josh Green
578      Isaiah Stewart
Name: player_name, Length: 428, dtype: object
428

In [6]:
print(merged_df.columns)
sub_df = merged_df[['player_name' , 'year' , 'pick']]
print(sub_df.head(20))

Index(['player_name', 'team', 'conf', 'GP', 'Min_per', 'Ortg', 'usg', 'eFG',
       'TS_per', 'ORB_per', 'DRB_per', 'AST_per', 'TO_per', 'FTM', 'FTA',
       'FT_per', 'twoPM', 'twoPA', 'twoP_per', 'TPM', 'TPA', 'TP_per',
       'blk_per', 'stl_per', 'ftr', 'yr', 'ht', 'num', 'porpag', 'adjoe',
       'pfr', 'year', 'pid', 'type', 'Rec Rank', 'ast/tov', 'rimmade',
       'rimmade+rimmiss', 'midmade', 'midmade+midmiss',
       'rimmade/(rimmade+rimmiss)', 'midmade/(midmade+midmiss)', 'dunksmade',
       'dunksmiss+dunksmade', 'dunksmade/(dunksmade+dunksmiss)', 'pick',
       'drtg', 'adrtg', 'dporpag', 'stops', 'bpm', 'obpm', 'dbpm', 'gbpm',
       'mp', 'ogbpm', 'dgbpm', 'oreb', 'dreb', 'treb', 'ast', 'stl', 'blk',
       'pts', 'Role/Position', 'Unnamed: 65', 'team_encoded', 'conf_encoded',
       'yr_encoded', 'ht_encoded', 'got_drafted', 'Role/Position_encoded',
       'Drafted_that_year', 'player_id', 'first_name', 'last_name', 'position',
       'height_wo_shoes', 'weight', 'wingspan', 'standing_reach',
       'body_fat_pct', 'hand_length', 'hand_width', 'standing_vertical_leap',
       'max_vertical_leap', 'lane_agility_time', 'modified_lane_agility_time',
       'three_quarter_sprint', 'bench_press'],
      dtype='object')
          player_name  year  pick
1         Jordan Hill  2009   8.0
2      Chase Budinger  2009  44.0
3         Eric Maynor  2009  20.0
5          Earl Clark  2009  14.0
6    Dante Cunningham  2009  33.0
7     Jermaine Taylor  2009  32.0
8       Derrick Brown  2009  40.0
10   Tyler Hansbrough  2009  13.0
11        Danny Green  2009  46.0
12         Taj Gibson  2009  26.0
13     Jack McClinton  2009  51.0
14       DeJuan Blair  2009  37.0
15     DaJuan Summers  2009  35.0
16        Jeff Teague  2009  19.0
17      James Johnson  2009  16.0
19      Stephen Curry  2009   7.0
20   Gerald Henderson  2009  12.0
21        Jonny Flynn  2009   6.0
22  Terrence Williams  2009  11.0
23    Darren Collison  2009  21.0